@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&family=Silkscreen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  li {
    list-style-type: none;
  }
@font-face{
font-family: 'Mina', sans-serif;
font-family: 'Silkscreen', cursive;
}


  #app{
    background-image: url(https://res.cloudinary.com/dghnwllrc/image/upload/v1665586106/balon_cir08m.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }
  