.home {
    display: flex;
    flex-direction: column;
  
    min-height: 90vh;
  }
  
  .home > img {
    width: 19vw;
    position: relative;
    left: 506px;
    top: 32px;
    width: 598px;
    height: 350px;
  }



  .home > div {
    background-size: cover;
  }

  button{
   position: relative;
   left: 770px;
   top: 33px;
   display: flex;
   width: 3rem;
   height: 2rem;
  }