.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: Mina;
  font-size: larger;

  min-height: 90vh;
}

img {
  /* position: relative; */

  left: 506px;
  top: 32px;
  width: 598px;
  height: 350px;
}



button {
  
  left: 770px;
  top: -260px;
  display: flex;
  width: 3rem;
  height: 24px;
  justify-content: center;
  font-family: "Mina";
  border-bottom: 2px;
  background-color: crimson;
  color: blanchedalmond;
}

.disable {
  display: none;
  
}
/* .off{
  background-color: black;
} */
