.jugador > img{
    object-fit: cover;
    height: 200px;
    width: 100px;
}

.galeria{
    display:flex;
    flex-direction: row;
    width: 100vw;
    align-items: flex-end;
    align-content: flex-end;
    height: 80vh;
}