.jugador > img{
    object-fit: cover;
    height: 175px;
    width: 75px;
    border-radius: 10px;
}

.galeria{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    align-items: flex-end;
    align-content: flex-end;
    height: 30vh;
}